h1,h2 {
    text-decoration-line: underline;
}

h1 {
    text-decoration: underline blue dashed;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
}

a:visited {
    color: #8222b9;
}
a:focus {
    text-decoration: underline;
    background: #e6aafe;
}
a:hover {
    text-decoration: underline;
    background: #e6aafe;
    cursor: progress;
}
a:active {
    background: #8222b9;
    color: #e6aafe;
}

.scene-link a:visited {
    color: #daa81e;
}

.scene-link a:focus {
    text-decoration: underline;
    background: #fedcaa;
}

.scene-link a:hover {
    text-decoration: underline;
    background: #fedcaa;
    cursor: progress;
}

.scene-link a:active {
    background: #daa81e;
    color: #fedcaa;
}

#table-matieres {
    background: #f0fff0;
    display: block;
}

#table-matieres ul {
    position: relative;
    overflow: auto;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-size: 1.2em;
    width: auto; /* for centering menu */
    display: inline-block; /* for centering menu */
}

#table-matieres li {
    float: left; /* comment out to make a vertical menu */
}

#table-matieres li a {
    display: block;
    color: rgb(25, 155, 25);
    font-weight: bolder;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 1.50em;
}

#table-matieres li a.active {
    background-color: rgb(25, 155, 25);
    color: white;
}

#table-matieres li a:hover:not(.active) {
    background-color: rgb(25, 155, 25);
    color: black;
}

#table-matieres .scene-link a {
    font-size: 0.75em;
}

#top {
    background-color: aliceblue;
    text-align: center;
    height: 200px;
}

#top img {
    width: auto;
    height: 200px;
}

span.barbouille {
    color: darkgray;
    font-size: 150%;
    text-shadow: 2px 2px 2px darkgrey;
}

strong.barbouille {
    font-weight: 900;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

#liste-perso {
    background-color: aliceblue;
    right: 0;
    width: 25%;
    position: fixed;
    bottom: 100px;
}

#liste-perso ul {
    list-style-type: square;
    line-height: 30px;
}

#liste-perso li:hover {
    background-color: #6bbdb6;
}

span.docteur {
    text-decoration: line-through red solid;
}

.scene {
    margin-bottom: 50px;
}

.didascalie {
    font-family: Geneva, sans-serif;
    margin-left: 30px;
    margin-top: 30px;
    padding: 10px;
    border-left: 6px solid #f7a156;
    background: #fff7f0;
}

.column {
    float: left;
    width: 20%;
}

.column-center {
    float: left;
    width: 60%;
}

.title-top {
    min-width: 600px;
}

.content { 
    margin-right:25%;
}

#source,
#autre-exemple,
#representation,
#piece,
#statistiques {
    border: 2px solid #e1e4e5;
    padding: 20px;
    margin: 20px;
}

#scene-1 {
    border-bottom: 6px solid #e1e4e5;
}

footer {
    background-color: aliceblue;
    padding: 10px;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

/****** Section pour le tableau des films au Box-office ********/
#statistiques table {
    border-collapse: collapse;
    color: black;
    width: 100%;
}

#statistiques th, #statistiques td {
    padding: 10px;
    border-bottom: 2px solid black;
    text-align: left;
}

#statistiques th {
    background-color: aliceblue;
}

#statistiques caption {
    caption-side: bottom;
    font-style: oblique;
    font-size: 75%;
    margin-top: 5px;
}

#statistiques tr:nth-child(even) {
    background-color: aliceblue;
}

#statistiques tr:hover {
    background-color: rgb(197, 209, 219);
}
/****** FIN Section pour le tableau des films au Box-office ********/